*/results/*
*.vcxproj*
rl/Network4RL/x64/
rl/lua-c-dll/.vs/
rl/lua-c-dll/contrib/
rl/lua-c-dll/lua-sample/
rl/lua-c-dll/make-arc.cmd
.gitignore
#
*.zip
*.7z
.bin
.tmp
.Build

#VS temp files
*.suo
*.idb
*.pdb
*.exp
*.VC.db
*.vcxproj.user
*.sln
*.recipe
*.iobj
*.log
*.tlog

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
